{% extends 'base.html.twig' %}

{% block title %}EASY - Modifier mon mot de passe {% endblock %}

{% block body %}
    <h1> Modifier mon mot de passe </h1>
    <a href="{{ path('account') }}">Retour</a>
    <hr>
    {% if notif %}
        <div class="alert alert-info">{{ notif }}</div>
    {% endif %}
    {{ form(form) }}
    <hr>

{% endblock %}
