{% extends 'base.html.twig' %}
{% block body %}

	<main
		class="main">
		<!-- Home Banner Section Start -->
		<section class="home-slider-common ratio_40 p-0">
			<div class="swiper home-slider">
				<div
					class="swiper-wrapper">
					<!-- Slide Start -->
					<div class="swiper-slide">
						<div class="banner">
							<div>
								<img class="bg-img img-fluid" src="../assets/images/fashion/banner/banner1.jpg" alt="banner"/>
							</div>
							<div class="content-box">
								<h1 class="heading">
									<strong style="color:white;letter-spacing:20px;">Liberation</strong><br><span>Collection
									</span>
								</h1>
								<p style="color:white;letter-spacing:20px;">Summer 2022</p>
								<a href="shop-left-sidebar.html" class="btn-solid">Découvrir<i class="arrow"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Slide End -->
		</section>


		<!-- Categories Section Start -->
		<div class="catagories-section">
			<div class="swiper home-catagories-slider">
				<div class="swiper-wrapper mb-0">
					<div class="swiper-slide">
						<div class="catagories">
							<img class="leaf-shape" src="../assets/svg/leaf.svg" alt="leaf"/>
							<a href="shop-left-sidebar.html">
								<div class="img-wrap">
									<img src="../assets/icons/svg/tshirt.png" alt="jeans"/>
								</div>
								<div class="btn-box">
									<span class="catagories-name">T-shirt
									</span>
									<div class="btn-special">SHOP
										<i class="arrow"></i>
									</div>
								</div>
							</a>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="catagories">
							<img class="leaf-shape" src="../assets/svg/leaf.svg" alt="leaf"/>
							<a href="shop-left-sidebar.html">
								<div class="img-wrap">
									<img src="../assets/icons/svg/veste.png" alt="jeans"/>
								</div>
								<div class="btn-box">
									<span class="catagories-name">
										Vestes</span>
									<div class="btn-special">SHOP
										<i class="arrow"></i>
									</div>
								</div>
							</a>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="catagories">
							<img class="leaf-shape" src="../assets/svg/leaf.svg" alt="leaf"/>
							<a href="shop-left-sidebar.html">
								<div class="img-wrap">
									<img src="../assets/icons/svg/hoodie.png" alt="jeans"/>
								</div>
								<div class="btn-box">
									<span class="catagories-name">Hoodies & Sweatshirts
									</span>
									<div class="btn-special">SHOP
										<i class="arrow"></i>
									</div>
								</div>
							</a>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="catagories">
							<img class="leaf-shape" src="../assets/svg/leaf.svg" alt="leaf"/>
							<a href="shop-left-sidebar.html">
								<div class="img-wrap">
									<img src="../assets/icons/svg/jeans.svg" alt="jeans"/>
								</div>
								<div class="btn-box">
									<span class="catagories-name">
										Pantalon / Short
									</span>
									<div class="btn-special">SHOP
										<i class="arrow"></i>
									</div>
								</div>
							</a>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="catagories">
							<img class="leaf-shape" src="../assets/svg/leaf.svg" alt="leaf"/>
							<a href="shop-left-sidebar.html">
								<div class="img-wrap">
									<img src="../assets/icons/svg/chemise.png" alt="jeans"/>
								</div>
								<div class="btn-box">
									<span class="catagories-name">Chemises
									</span>
									<div class="btn-special">SHOP
										<i class="arrow"></i>
									</div>
								</div>
							</a>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="catagories">
							<img class="leaf-shape" src="../assets/svg/leaf.svg" alt="leaf"/>
							<a href="shop-left-sidebar.html">
								<div class="img-wrap">
									<img src="../assets/icons/svg/casquette.png" alt="jeans"/>
								</div>
								<div class="btn-box">
									<span class="catagories-name">Accessoires
									</span>
									<div class="btn-special">SHOP
										<i class="arrow"></i>
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Categories Section End -->

		<!-- Offer Section Start -->
		<section class="offer-section pb-0">
			<div class="container-lg">
				<div class="row g-4 g-lg-6">
					<div class="col-6 col-sm-3">
						<div class="offer">
							<h5 class="offer-heading">
								10% de réduc
								<span class="bg-theme-pink"></span>
							</h5>
							<p>Pour les commandes de + 40€</p>
						</div>
					</div>

					<div class="col-6 col-sm-3">
						<div class="offer">
							<h5 class="offer-heading">
								15% de réduc
								<span class="bg-theme-yellow"></span>
							</h5>
							<p>Pour les commandes de + 60€</p>
						</div>
					</div>

					<div class="col-6 col-sm-3">
						<div class="offer">
							<h5 class="offer-heading">
								30% de réduc
								<span class="bg-theme-orange"></span>
							</h5>
							<p>Pour les commandes de + 150€</p>
						</div>
					</div>

					<div class="col-6 col-sm-3">
						<div class="offer">
							<h5 class="offer-heading">
								Promo : CODE09
								<span class="bg-theme-blue"></span>
							</h5>
							<p>Pour obtenir de nouvelles réductions</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Offer Section End -->

		<!-- Detail Card Section Start -->
		<section class="detail-card-section ratio_asos pb-0 wow-section-overflow">
			<div class="container-lg">
				<div class="top-heading">
					<h2>
						<strong>Fashion</strong>
						is not necessarily about labels. It's not
						<strong>about brands.</strong>
						" It's about something else that comes from within you."</h2>
					<span>Ralph Lauren</span>
				</div>
				<hr>
				<br>
				<br>
				<div class="row gy-4 g-2 g-sm-3 g-xl-4">
					<div class="col-6 col-md-3 col-lg-3 span3 wow fadeInUp" data-wow-delay="0.3s">
						<div class="detail-card">
							<div class="img-wrap">
								<a href="shop-left-sidebar.html"><img class="img-fluid bg-img" src="../assets/images/fashion/product/front/1.jpg" alt="product"/></a>
							</div>
							<div class="content-box">
								<a href="shop-left-sidebar.html">
									<h3>Sint commodo minim eiusmod dolore deserunt non eu mollit id ex aliquip.</h3>
									<p>You have to stay true to your heritage; that's what your brand is about.</p>
								</a>
							</div>
						</div>
					</div>
					<div class="col-6 col-md-3 col-lg-3 span3 wow fadeInUp" data-wow-delay="0.4s">
						<div class="detail-card">
							<div class="img-wrap">
								<a href="shop-left-sidebar.html"><img class="img-fluid bg-img" src="../assets/images/fashion/product/front/2.jpg" alt="product"/></a>
							</div>
							<div class="content-box">
								<a href="shop-left-sidebar.html">
									<h3>Exercitation et magna proident excepteur officia incididunt dolore velit aliqua consequat minim consequat.</h3>
									<p>Aliquip pariatur minim cillum minim duis sint in sit ut non exercitation elit Lorem.</p>
								</a>
							</div>
						</div>
					</div>
					<div class="col-6 col-md-3 col-lg-3 span3 wow fadeInUp" data-wow-delay="0.5s">
						<div class="detail-card">
							<div class="img-wrap">
								<a href="shop-left-sidebar.html"><img class="img-fluid bg-img" src="../assets/images/fashion/product/front/3.jpg" alt="product"/></a>
							</div>
							<div class="content-box">
								<a href="shop-left-sidebar.html">
									<h3>Et tempor laborum sunt voluptate adipisicing sit commodo ullamco nulla cupidatat consequat cupidatat laboris.</h3>
									<p>Est esse culpa sint esse ad adipisicing incididunt minim nisi pariatur voluptate amet.</p>
								</a>
							</div>
						</div>
					</div>
					<div class="col-6 col-md-3 col-lg-3 span3 wow fadeInUp" data-wow-delay="0.6s">
						<div class="detail-card">
							<div class="img-wrap">
								<a href="shop-left-sidebar.html"><img class="img-fluid bg-img" src="../assets/images/fashion/product/front/4.jpg" alt="product"/></a>
							</div>
							<div class="content-box">
								<a href="shop-left-sidebar.html">
									<h3>Et tempor laborum sunt voluptate adipisicing sit commodo ullamco nulla cupidatat consequat cupidatat laboris.</h3>
									<p>Non culpa ut labore reprehenderit non labore in.</p>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Detail Card Section End -->
	</main>
	<!-- Cookies Section Start -->
	<div class="cookie-bar cookies-bar-1 left-cookies">
		<img src="../assets/png/cookie.png" alt="cookies"/>
		<div class="content">
			<h5>Cookies Consent</h5>
			<p>This website use cookies to ensure you get the best experience on our website.</p>
			<div class="cookie-buttons">
				<button class="btn-solid btn-sm mb-line cookies-accept">Accept
					<i class="arrow"></i>
				</button>
				<a href="javascript:void(0)" class="btn-solid btn-sm btn-outline cookies-accept">Learn more</a>
			</div>
		</div>
	</div>
	<!-- Cookie Section End -->
    <br><br><br><br>
{% endblock %}
