@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Roboto:wght@500&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

main{
    margin-top: 30px;
}

.navbar-custom{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: 0.2s;
}

.navbar-brand{
    font-family: 'Dela Gothic One', cursive;
    letter-spacing: 0.1em;
}


.nav-item-custom a {
    text-decoration: none;
    color: #007bff;
}

.left-item-nav{
    margin-right: 20px;
}

.footer-custom{
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding-top: 25px;
}