@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Roboto:wght@500&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

main{
    margin-top: 30px;
}

.body-custom{
    margin-top: 80px;

}
/*
    ---------------- NAVBAR
 */
.item-custom{
    color: black !important;
}

.navbar-custom{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding-top: 22px;
    padding-bottom: 20px;
    transition: 0.2s;
}

.navbar-collapse{
    justify-content: center;
}

.title-nav{
    font-family: 'Dela Gothic One', cursive;
    letter-spacing: 0.8em;
    color: #58efc0 !important;
}

/*
    --------------- END NAVBAR
 */


/*
   ----------------- CARD PRODUCTS
 */
.product-item{
    text-transform: uppercase;
    font-size: 13px;
    margin-bottom: 15px;
}

.product-item span{
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
}





/*
    ------------ FOOTER
 */
.footer-custom{
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding-top: 25px;
}
